
export(instance)
export(queryInstance)
export(geoCodes)
export(getLADCodes)
export(getData)
export(getMetadata)
export(queryMetadata)
# TODO re-enable once fixed
#export(contextify)

importFrom("utils", "data", "read.csv")
