
export(instance)
export(queryInstance)
export(geoCodeLookup)
export(geoCodes)
export(getLADCodes)
export(getData)
export(getMetadata)
export(queryMetadata)
export(contextify)

importFrom("utils", "data", "read.csv")
